@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color from parent */
    /* display: inline-block; */
}

:root{
    --orange: #db6a1f;
    --dark-text-color: #252e2e;
    --dark-text-color2: #2f3737;
    --light-text-color: #606060;
    --light-text-color2: #ddd   ;

}

.res{
    display: none;
}


.header{
    position: relative;
    top:0;
    left:0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 10vh;
    background-color: white;
}

.header .logo-container img{
    width: 80px;
}

.location-holder, .header > .nav >div{
    cursor: pointer;
}

.location-holder > .other-location{
    font-size: 1rem;
    color: var(--dark-text-color);
    font-weight: 700;
    border-bottom: 3px solid var(--dark-text-color);
}

.location-holder > .location{
    font-size: 0.8rem;
    color: var(--light-text-color);
}

.nav{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    width: 50%;
}

.offer-page > span > img{
    height: 1.4rem;
    position: relative;
    top: 3px;
}

.new-tag{
    position: relative;
    font-size: 0.7rem;
    top: -5px;
    color: var(--orange);
    font-weight: 600;
}

.help-page > span > img{
    height: 1.4rem;
    position: relative;
    top: 4px;
}

.user-page > span > img{
    height: 1.3rem;
    position: relative;
    top: 4px;
}

.cart-page{
    position: relative;
}

.cart-page > span > img{
    height: 2.4rem;
    position: relative;
    top: 3px;
}

.cart-count{
    color: var(--dark-text-color);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-35%);
    text-align: center;
    font-weight: 600;
}

.nav-menu{
    width:400px;
    height: 500px;
    background-color: rgba(236, 7, 7, 0.8);
    color: black;
    position: absolute;
    transform: translate(-400px,30px);
    border-radius: 20px;
    display: none;
}
.nav-menu div{
    margin: 1rem 0 0 2rem;
    cursor: pointer;
}


main{
    width: 100vw;
    position: relative;
    margin-top: 2rem;
}

main > div{
    width: 60%;
    margin: 1rem auto;
    /* background-color: red; */
}

.head1{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    height: 30px;
}

.head1 p{
    font-size: 0.8rem;
    color: var(--light-text-color);
}

.container1{
    display: flex;
    justify-content: space-between;
}

.head2{
    padding-bottom: 20px;
    border-bottom: 2px dotted var(--light-text-color2);
}

.head2 h1{
    font-size: 2rem;    
    color: var(--dark-text-color2);
}

.head2 p{
    font-size: 0.9rem;
    margin: 0.3rem 0;
}

.head2 > .btn-container{
    text-align: right;
}

.head2 > .btn-container button{
    padding: 5px 10px;
    margin: 0.5rem 0;
    background-color: white;
    border: 1px solid var(--light-text-color2);
    border-radius: 5px;
    font-size: 0.9rem;
}

.btn1{
    color: green;
}

.btn2{
    color: var(--light-text-color);
}

.container2{
    border-bottom: 1px solid var(--light-text-color2);
    padding-bottom: 1rem;
}

.container2  .a1 {
    margin-right:1rem;
    color: var(--dark-text-color2);
}

.inner-container2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
    overflow-x: scroll;
}

.inner-container2::-webkit-scrollbar {
    height: 2px;
}

@-moz-document url-prefix() {
    .inner-container2 {
        scrollbar-width: none;
    }
}

.inner-container2::-webkit-scrollbar-thumb{
    background-color:grey;
    color: #fff;
}


.inner-container2 > div{
    position: relative;
    padding: 10px;
    min-width: 250px;
    border-radius: 10px;
    border: 1px solid var(--light-text-color2); 
}

.inner-container2 img{
    width: 1.2rem;
    margin-right: 0.3rem;
    position: relative;
    top: 5px;
}

.inner-container2 .ot{
    color: var(--dark-text-color2);
    font-weight: 500;
}

.inner-container2 .ot-des{
    font-size: 0.8rem;
    color: var(--light-text-color);
}

.container3-header{
    display: flex;
    justify-content: space-between;
}

#i1{
    cursor:pointer;
}

.dish-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid var(--light-text-color2);
}

.veg{
    color: green;
}

.container3-header div > h3{
    color: var(--dark-text-color2);
    font-weight: 600;
}

.dish-container h1{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0;
    color: var(--dark-text-color2);
}

.dish-container p{
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: var(--dark-text-color2);
}

.dish-container h3{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--dark-text-color2);
}

.dish-container .img-container{
    margin: 0 1rem;
    position: relative;
}

.dish-container .img-container img{
    width: 118px;
    height: 96px;
    border-radius: 10px;
    object-fit: cover;
}

.dish-container .img-container button{
    padding:5px 10px; 
    background-color: white;
    border: 1px solid green;   
    color: green;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50% ;
    transform: translateX(-50%);
    cursor: pointer;
}

.container4{
    /* position: relative; */
    margin: 5rem auto;
    /* background-color: red; */
}

.container4 img{
    width: 5rem;
}

.container4 span{
    position: relative;
    bottom: 10px; 
    left: 0;
    color: grey; 
    padding: 8px;
    font-size: 0.8rem;
}

.container4 h3{
    color: var(--light-text-color);
    font-weight: 600;
    font-size: 1rem;
    border-top: 1px solid var(--light-text-color2);
    /* margin: 0.5rem 0; */
}

.container4 p{
    font-weight: 400;
    font-size: 0.7rem;
    color: grey;
    margin:0.3rem 0;
}

main > .btn-container{
    position: sticky;
    bottom: 50px;
}

main > .btn-container button{
    padding: 10px 20px;
    border-radius: 20px;
    color:white;
    border: none;
    background-color: var(--orange);
    font-weight: 600;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
